#background-video {
    position: absolute;
    top: 5rem;
    left: 0rem;
    width: 700px;
    height: auto;
    z-index: -5;
    }
    



.typewriter {
    font-family: 'Major Mono Display', monospace;
    display: inline-block; 
     
    
}
        
.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 9s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 55px;
    font-weight: 700;
    border-right: 4px solid black;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
}
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: black; 
    }
}

   
#quote {
    
    font-family: 'Major Mono Display', monospace;
    font-size: 16px;
    position: absolute;
    top: 5rem;
    left: 72rem;
    }

    #author {
    font-family: 'Major Mono Display', monospace;
    font-size: 14px;
    position: absolute;
    top: 7rem;
    left: 80rem;    
    }
    
#meme-form {
    font-family: 'Major Mono Display', monospace;
    font-size:16px;
    display: block;
    position: absolute;
    left: 50rem;
    top: 6.5rem;
    width: 65rem;
    }
.form-control {
    width: 15rem;
    height: .8rem;
    font-size: 16px;    
}
.display {
    list-style: none;
    width: 50%; 
    
   
}
.meme-img {
    display: inline-block;
    opacity: 1;
    width: 500px;
    height: auto;
    text-align: center;
    position: relative;  
    left: 43rem;
    top: 12rem;
    }

img {
    width: 500px;
    
}


.meme-img:hover {opacity: 0.6;}



.nope {    
    font-family: 'Major Mono Display', monospace;
    width: 500px;
    height: 100px;
    content: "nope";
    position: absolute;
    transform: translate(-50%, -66%);
    font-weight: 700;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 150%;
    opacity: 0;
    }
.nope:hover {
    opacity: 1;
    z-index: 10;
    }
   
.text {
    font-family: 'Inter Tight', sans-serif;
    width: 500px;
    font-size: 250%;
    line-height: 1.1em;
    letter-spacing: 1.5px;
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    opacity: 1;
    }

.text:hover {opacity: 0.6;}


.top {
    position: absolute;
    top: 0;
    z-index: 5;
    max-height: 50%;
    }
      
.bottom {
    position: absolute;
    bottom: 0;
    z-index: 5;
    max-height: 50%;
    }

   
   
img,  
.meme-img, 
.nope,
.text {width: 350px;}

.text {font-size: 160%;}